html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

body {
  box-sizing: border-box;
}

#__nuxt, #__layout{
  height: 100%;
}

.model {
  box-shadow: 1px 1px 5px #0000008a;
  border-radius: 3%;
  width: 10em;
  height: 10em;
  overflow: hidden;
}

.page-body {
  display: flex;
  justify-content: center;

  align-self: center;
}

.header{
  display: flex;
  justify-content: space-evenly;
  box-shadow: 1px 1px 10px #0000008a;

  .custom-demo-tab-bar {
    .mdc-tab {
     height: 5em;
    }
    .mdc-tab__ripple {

    }
    .mdc-tab--active {
      background-color: #f3e5f5
    }
    .mdc-tab-indicator {
    }
  }
}
